body{
    background-color: #121212;
}

h1, h2, h3, a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;

}
img{
    height: 350px;
}



.menu{  /* Barre du dessus */

background-color: #000000;
margin-top: 0;
text-align: center;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */

}


.bouton{
    background: white;
    color: black;
    border-radius: 25px;
    width: 200px ;
    height: 35px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    letter-spacing:2px;
    transition: 0.5s;
    padding-top: 10px;
    margin-top: 1%;
    margin-block-end: 1%;
    margin-inline-end: 1;
    display: inline-block;
    margin: 10px;
    border-color: black;
    border: solid 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.bouton:hover{
    background: rgb(168, 168, 168);
    transition: 0.5s;
}


.video{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
    text-align: center;
}


.texte{
    font-family: Arial;
    color: white;
    text-align: center;
    margin-left: 190px;
    margin-right: 190px;
    font-size: 25px;  
}






.membre{
    background: linear-gradient(315deg, #000000 , #000000);
    text-align: center;

    width: 400px ;
    height: 510px ;
    min-width: 10;
    min-height: 0;
    top: 1px;
    right: 10px;
    left: 10px;
    overflow: hidden;
    border-radius: 15px;
    margin-right: 15px; /* Modifie ici pour ecrater */
    margin-left: 15px; 
    filter: drop-shadow(0 0 0.75rem rgb(133, 133, 133));
    transition: 1s;



}
.membre:hover{
    transform: scale(1.1);
	transition:  1.1s transform;  /* Modifie ici pour transition */
}
.container .box{
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    display: table-cell;


    }
.bouton2{
    background: white;
    color: black;
    border-radius: 25px;
    width: 150px ;
    height: 30px ;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 10px;
    letter-spacing:2px;
    transition: 0.5s;
    padding-top: 9px;
}
.bouton2:hover{
    background: rgb(168, 168, 168);
    transition: 0.5s;
    
}










@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}