body{
    background-color: #121212;
}

h1, h2, h3, a{
    font-family: Arial;
    color: white;
    text-decoration: none;
    text-align: center;

}
img{
    height: 350px;
}



.menu{  /* Barre du dessus */

background-color: #000000;
margin-top: 0;
text-align: center;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
z-index: 1;

}


.bouton{
    background: white;
    color: black;
    border-radius: 25px;
    width: 200px ;
    height: 35px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    letter-spacing:1px;
    transition: 0.5s;
    padding-top: 10px;
    margin-top: 1%;
    margin-block-end: 1%;
    margin-inline-end: 1;
    display: inline-block;
    margin: 10px;
    border-color: black;
    border: solid 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.bouton:hover{
    background: rgb(168, 168, 168);
    transition: 0.5s;
}


.video{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;

}


.texte{
    font-family: Arial;
    color: white;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 25px;  

}







.membre{
    background: linear-gradient(315deg, #000000 , #000000);
    text-align: center;
    width: 400px ;
    height: 510px ;
    color: white;
    border-radius: 25px;
    display: inline-block;
    border: solid 3px;
    margin: 15px;
    transition:  1.1s;
}

.membre:hover{
    transform: scale(1.05);
	transition:  1.1s transform;  /* Modifie ici pour transition */

}









.collection{
    background: linear-gradient(315deg, #000000 , #000000);
    text-align: center;
    width: 405px ;
    height: 415px ;
    color: white;
    border-radius: 25px;
    display: inline-block;
    border: solid 3px;
    margin: 15px;
    transition:  1.1s;
}

.collection:hover{
    transform: scale(1.05);
	transition:  1.1s transform;  /* Modifie ici pour transition */


}
.tank{
    height: 280px;
    border-radius:10px;
}





/* page detail tank*/
.collectiontableau{
    text-align: center;
    width: 1000px;
    background: linear-gradient(315deg, #000000 , #000000);    border-radius: 25px;
    border: solid 3px;
    border-color: white;

}

.imgcollection{  
    height: 320px;
    margin-right: 10px;
}

.textecollection{
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 20px;
}

.tftable {font-size:15px;color:#fbfbfb;border-width: 1px;border-color: #686767;border-collapse: collapse;display: inline-block;}
.tftable th {font-size:20px;font-family: Arial;font-weight: bold;background-color:#171515;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;text-align:left;}
.tftable tr {background-color:#2f2f2f;transition: 0.5s;}
.tftable td {font-size:20px;font-family: Arial;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;}
.tftable tr:hover {background-color:#171515;transition: 0.3s;}



















@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}